.box {
  background: red;
  color: white;
  padding: 10px 30px;
  border: 1px black solid;
  margin: 30px 60px;
  display: inline-block;
}

#first-box {
  height: 300px;
  width: 50%;
  display: none;
}

#second-box:hover {
  background-color: green;
}
