* {
  font-family: sans-serif;
}
h1 {
  color: blue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

code {
  color: red;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.li-second > code {
  color: green;
}

li {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

li {
  /* li:not(:first-child) { */
  background: black;
  color: white;
}

ol > li {
  background: black;
  color: white;
}
