body {
  font-family: sans-serif;
}

nav {
  margin-bottom: 16px;
  background: #fa923f;
  padding: 8px 0;
}

a {
  text-decoration: none;
  color: white;
  margin: 10px;
}

.main-section {
  height: 800px;
  border: 1px solid #ccc !important;
  padding: 16px;
}

.highlighted {
  border: 2px solid #fa923f;
}

/* Clases/Id combinadas con elementos */
a.active {
  color: #521751;
}

/* Todas las a que no sean de la clase active (cualquier selector) */
a:not(.active) {
  color: blue;
}

a#active {
  /* sobreescribe todos las demas modificaciones */
  color: #521751 !important;
}


